.container {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  padding: 10px 0px;
  background-color: #383838;
  width: max-content;
}

.previous {
  margin: 0px 20px;
}

.next {
  margin-right: 20px;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: #43d5b2;
  border-radius: 50%;
  padding: 5px;
}

.icon:hover {
  background-color: #dfdede;
  color: #43d5b2;
  border: 2px solid #383838;
  transition: all 300ms ease-in-out;
}

.items {
  list-style-type: none;
  display: flex;
}

.thumbView {
  display: none;
}

.active {
  display: flex;
  justify-content: center;
  width: 100%;
}

.item {
  margin: 0px 10px;
  cursor: pointer;
}

.thumbnail {
  border: 2px solid #383838;
  border-radius: 5px;
  max-height: 100px;
  min-width: 100px;
  object-fit: cover;
  vertical-align: bottom;
}
